<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 bg-dark">
<app-card
    [image]="'https://img.freepik.com/vector-gratis/libros-ninos-sobre-fondo-blanco_1308-20924.jpg?uid=R160192984&ga=GA1.1.455624098.1742791927&semt=ais_hybrid'"
    [title]="'Cursos'"
    [teacher]=" 'Lista de cursos asiganados' "
    [route]="'/campus/'">
>
</app-card>
<app-card
    [image]="'https://img.freepik.com/vector-gratis/fondo-hombre-comprobando-lista-gigante_23-2148077115.jpg?uid=R160192984&ga=GA1.1.455624098.1742791927&semt=ais_hybrid'"
    [title]="'Notas'"
    [teacher]=" 'Lista de notas' "
    [route]="'/campus/'">
>
</app-card>

<app-card
    [image]="'https://img.freepik.com/fotos-premium/padres-que-apoyan-ninos-presentacion-escolar-gestos-positivos-que-fomentan-lenguaje-corporal_980716-177309.jpg?uid=R160192984&ga=GA1.1.455624098.1742791927&semt=ais_hybrid'"
    [title]="'Asistencia'"
    [teacher]=" 'Lista de asistencia' "
    [route]="'/asistencia'">
>
</app-card>
</div>