<div class="p-4 bg-gray-800 dark:bg-gray-800 text-gray-100 dark:text-gray-100">
  <h1 class="text-xl font-bold">{{ data.isEditing ? 'Editar Sesión' : 'Agregar Sesión' }}</h1><br />
  <form [formGroup]="sesionForm" (ngSubmit)="onSubmit()">
    <div class="space-y-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label class="text-white dark:text-white">Título</mat-label>
        <input matInput formControlName="titulo" class="bg-gray-800 dark:bg-gray-800 border-gray-700 dark:border-gray-700" />
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label class="text-gray-400 dark:text-gray-400">Descripción</mat-label>
        <textarea matInput formControlName="descripcion" class="bg-gray-800 dark:bg-gray-800 border-gray-700 dark:border-gray-700"></textarea>
      </mat-form-field>
    </div>
    <div class="flex justify-end space-x-2 mt-4">
      <button mat-button type="button" (click)="dialogRef.close()" class="text-white dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="sesionForm.invalid" class="bg-blue-600 dark:bg-blue-600 hover:bg-blue-700 dark:hover:bg-blue-700 text-white dark:text-white">
        {{ data.isEditing ? 'Guardar Cambios' : 'Agregar' }}
      </button>
    </div>
  </form>
</div>