<div class="flex items-center justify-center min-h-screen bg-primary-dark text-text-color">
    <div class="text-center p-6 max-w-md mx-auto">
      <!-- Título -->
      <h1 class="text-6xl font-bold mb-4">404</h1>
      <h2 class="text-2xl font-semibold mb-4">Página no encontrada</h2>
      <p class="text-lg mb-6">
        Lo sentimos, la página que buscas no existe o ha sido movida.
        Verifica la URL o regresa al inicio.
      </p>
      <!-- Botón de Angular Material -->
      <button
        mat-raised-button
        color="primary"
        routerLink="/inicio"
        class="hover:bg-primary-hover transition-colors duration-300"
      >
        Volver al Inicio
      </button>
    </div>
  </div>