<div class="h-screen flex">
  <!-- Menú lateral sin aside -->
  <app-menu 
    [nombreUsuario]="usuarioMostrar.nombre || 'undefined'"
    [apellidoPaterno]="usuarioMostrar.apellidopaterno || 'undefined'"
    [apellidoMaterno]="usuarioMostrar.apellidomaterno || 'undefined'"
    [nombreRol]="usuarioMostrar.rol?.nombreRol || 'undefined'"
    (menuToggle)="toggleMenu()">
  </app-menu>

  <!-- Contenido principal -->
  <div [ngClass]="menuAbierto ? 'w-[calc(100%-16rem)]' : 'w-full'"
       class="bg-gray-700 p-6 transition-all duration-300 h-screen flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
