.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}
