<div class="flex h-screen">
  <!-- Menú lateral -->
  <aside [ngClass]="menuAbierto ? 'w-64' : 'w-0'" class="bg-gray-600 text-white min-h-screen transition-all duration-300 overflow-hidden">
    <app-menu 
    [nombreUsuario]="usuarioMostrar.nombre || 'undefined'"
    [apellidoPaterno]="usuarioMostrar.apellidopaterno || 'undefined'"
    [apellidoMaterno]="usuarioMostrar.apellidomaterno || 'undefined'"
    [nombreRol]="usuarioMostrar.rol?.nombreRol || 'undefined'"
    (menuToggle)="toggleMenu()"></app-menu>
  </aside>

  <!-- Contenedor del contenido -->
  <div class="flex-1 flex flex-col bg-gray-600 p-6 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
