carousel-container {
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }