<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 p-2 bg-dark">
    <app-card 
        [image]="'https://img.freepik.com/vector-gratis/ilustracion-concepto-examenes_114360-2754.jpg?uid=R186083859&semt=ais_hybrid'"
        [session]="'Sesión 1'"
        [title]="'Introducción a Angular'"
        [description]="'Aprende los fundamentos básicos de Angular y su arquitectura.'"
        [route]="'/curso-angular'">
    </app-card>
    <app-card 
        [image]="'https://img.freepik.com/vector-gratis/ilustracion-concepto-examenes_114360-2754.jpg?uid=R186083859&semt=ais_hybrid'"
        [session]="'Sesión 2'"
        [title]="'Componentes y Directivas'"
        [description]="'Explora cómo construir componentes reutilizables en Angular.'"
        [route]="'/curso-componentes'">
    </app-card>
    <app-card 
        [image]="'https://img.freepik.com/vector-gratis/ilustracion-concepto-examenes_114360-2754.jpg?uid=R186083859&semt=ais_hybrid'"
        [session]="'Sesión 3'"
        [title]="'Enrutamiento en Angular'"
        [description]="'Descubre cómo manejar la navegación en aplicaciones Angular.'"
        [route]="'/curso-enrutamiento'">
    </app-card>
    <app-card 
        [image]="'https://img.freepik.com/vector-gratis/ilustracion-concepto-examenes_114360-2754.jpg?uid=R186083859&semt=ais_hybrid'"
        [session]="'Sesión 4'"
        [title]="'Servicios y Dependencias'"
        [description]="'Aprende sobre la inyección de dependencias y servicios en Angular.'"
        [route]="'/curso-servicios'">
    </app-card>
    <app-card
        [image]="'https://img.freepik.com/vector-gratis/ilustracion-concepto-examenes_114360-2754.jpg?uid=R186083859&semt=ais_hybrid'"
        [session]="'Sesión 5'"
        [title]="'Formularios en Angular'"
        [description]="'Explora cómo trabajar con formularios en Angular.'"
        [route]="'/curso-formularios'">
    </app-card>
    <app-card 
        [image]="'https://img.freepik.com/vector-gratis/ilustracion-concepto-examenes_114360-2754.jpg?uid=R186083859&semt=ais_hybrid'"
        [session]="'Sesión 6'"
        [title]="'Pruebas en Angular'"
        [description]="'Aprende a escribir pruebas unitarias y de integración en Angular.'"
        [route]="'/curso-pruebas'">
    </app-card>
</div>

