
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }
  
  svg {
    margin: 0 0.5rem;
  }