/* Estilos para el navbar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    margin: 0 15px;
}

.navbar-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
}

.navbar-list a:hover {
    background-color: #575757;
    border-radius: 4px;
}
