<div *ngIf="cargando" class="loading-container">
  <div class="spinner"></div>
  <p>Cargando vacantes...</p>
</div>

<div *ngIf="!cargando" class="card-container">
  <div class="card" *ngFor="let grado of gradosSecundaria; let i = index">
    <div class="front">
      <h2>{{ grado }}</h2>
    </div>
    <div class="back">
      <p>Vacantes disponibles: {{ vacantesSecundaria[i] }}</p>
      <button *ngIf="vacantesSecundaria[i] > 0" (click)="matricular(i)" class="button">
        MATRICULAR
      </button>
    </div>
  </div>
</div>
