<section class="container px-4 mx-auto">
  <!-- Spinner de carga -->
  <app-general-loading-spinner [visible]="isLoading" [message]="'Cargando cursos...'"></app-general-loading-spinner>
  <div class="mt-6 md:flex md:items-center md:justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">Cursos</h2>
        <span
          class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400"
        >
          {{ totalCursos }} Cursos
        </span>
      </div>
      <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">
        Distribuidos a todo el nivel educativo
      </p>
    </div>
    <!-- Botón para agregar un nuevo curso -->
    <app-tooltip tooltipText="Agregar un nuevo curso">
      <button
        (click)="openAddModal()"
        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        <span>Agregar</span>
      </button>
    </app-tooltip>

    <!-- Buscador de cursos -->
    <div class="relative flex items-center mt-4 md:mt-0">
      <input
        [(ngModel)]="keyword"
        (input)="onInputChange($event)"
        (keyup.enter)="buscarCursos()"
        type="text"
        placeholder="Buscar cursos..."
        class="block w-full py-1.5 pr-10 pl-4 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
      />
      <span
        (click)="buscarCursos()"
        [class.cursor-not-allowed]="!isKeywordValid()"
        [class.text-gray-400]="isKeywordValid()"
        [class.text-gray-600]="!isKeywordValid()"
        class="absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer hover:text-blue-600 dark:text-gray-600 dark:hover:text-blue-300"
      >
        <fa-icon [icon]="['fas', 'magnifying-glass']" class="w-5 h-5"></fa-icon>
      </span>
    </div>
  </div>

  <!-- Selector de cantidad de datos por página -->
  <div class="mt-4 flex items-center">
    <label for="itemsPerPage" class="text-sm text-gray-500 dark:text-gray-400 mr-2">
      Mostrar:
    </label>
    <select
      id="itemsPerPage"
      [(ngModel)]="itemsPerPage"
      (ngModelChange)="onItemsPerPageChange($event)"
      class="py-1.5 px-2 text-sm text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none"
    >
      <option *ngFor="let option of pageSizeOptions" [value]="option">
        {{ option }}
      </option>
    </select>
    <span class="ml-2 text-sm text-gray-500 dark:text-gray-400">registros por página</span>
  </div>

  <!-- Tabla Reutilizable y Mensaje Condicional -->
  <div class="mt-6">
    <app-table
      *ngIf="cursos.length > 0 || isLoading"
      [data]="cursos"
      [columns]="tableColumns"
      [sortBy]="sortBy"
      [sortDir]="sortDir"
      [enableActions]="true"
      [actions]="tableActions"
      (sortChange)="onSortChange($event)"
      (competenciasClick)="openCompetenciasModal($event)"
    ></app-table>

    <!-- Mensaje cuando no hay resultados -->
    <div
      *ngIf="cursos.length === 0 && !isLoading"
      class="text-center py-6 text-gray-500 dark:text-gray-300 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg"
    >
      <fa-icon [icon]="['fas', 'info-circle']" class="text-gray-400 text-xl mr-2"></fa-icon>
      No se encontraron cursos con el criterio de búsqueda.
    </div>
  </div>

  <!-- Paginación -->
  <app-pagination
  [page]="page"
  [totalPages]="totalPages"
  (pageChange)="onPageChange($event)"
></app-pagination>
  <!-- Componente de notificaciones -->
  <app-notification></app-notification>
</section>