<div class="flex flex-wrap items-center justify-center gap-2 bg-gray-900 p-4 mt-4 rounded-md mx-8">
  <button routerLink="/curso-angular"
    class="relative inline-flex items-center justify-center gap-2 text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-800 hover:bg-gray-700 text-gray-300 h-9 rounded-md px-3 group w-full sm:w-auto"
  >
    <fa-icon
      [icon]="['fas', 'arrow-left']"
      [ngClass]="'lucide lucide-arrow-left'"
    >
    </fa-icon>
    <span class="origin-left scale-0 transition-transform group-hover:scale-100"
      >Salir</span
    >
  </button>
  <button
    class="cursor-pointer bg-gray-800 relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 text-gray-300 hover:text-cyan-400 h-9 rounded-md px-3 w-full sm:w-auto"
  >
    <fa-icon
      [icon]="['fas', 'rocket']"
      [ngClass]="'text-cyan-500'"
    >
    </fa-icon>
    Introduccion
  </button>
  <button
    class="cursor-pointer bg-gray-800 relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 text-gray-300 hover:text-blue-400 h-9 rounded-md px-3 w-full sm:w-auto"
  >
    <fa-icon
      [icon]="['far', 'newspaper']"
      [ngClass]="'lucide lucide-newspaper text-blue-500 '"
    ></fa-icon>
    Material
  </button>
  <button
    class="cursor-pointer bg-gray-800 relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 text-gray-300 hover:text-yellow-400 h-9 rounded-md px-3 w-full sm:w-auto"
  >
    <fa-icon
      [icon]="['far', 'sticky-note']"
      [ngClass]="'lucide lucide-sticky-note text-yellow-500'"
    ></fa-icon>
    Actividad
  </button>
  <button
    class="cursor-pointer bg-gray-800 relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 text-gray-300 hover:text-orange-400 h-9 rounded-md px-3 w-full sm:w-auto"
  >
    <fa-icon
      [icon]="['fas', 'star']"
      [ngClass]="'lucide lucide-star text-orange-500'"
    >
    </fa-icon>
    Asistencia
  </button>
</div>

