<!-- <nav class="h-screen w-64 bg-primary-dark text-white p-4 flex flex-col shadow-lg"> -->
  <nav class="h-full text-white p-4 flex flex-col w-full shadow-lg ce">

    <!-- Ícono del usuario -->
    <div class="flex items-center justify-center mb-6">
      <div class="w-16 h-16 rounded-full bg-accent flex items-center justify-center">
        <img src="assets\imagenes\usuario.png" alt="Perfil" class="w-16 h-16 rounded-full border-2 border-white">
      </div>
    </div>
  
    <!-- Opciones del menú -->
    <ul class="space-y-4">
      <li>
        <button class="menu-btn">Perfil</button>
      </li>
      <li>
        <button 
        class="menu-btn" 
        routerLink="campus"
        routerLinkActive="active">Campus Profesor</button>
      </li>
      <li>
        <button 
        class="menu-btn" 
        routerLink="campus-alumno"
        routerLinkActive="active">Campus</button>
      </li>
      <li>
        <button
          routerLink="libreria"
          routerLink="active"
        class="menu-btn" 
        >Ver Libros</button>
      </li>

      <li>
        <button class="menu-btn" (click)="toggleSubMenu()">Panel de Control⮟</button>
        <ul *ngIf="subMenuOpen" class="submenu">
          <li><button 
              class="submenu-btn"
              routerLink="usuarios"
              routerLinkActive="active"
              >📘 Usuarios</button></li>
          <li><button 
              class="submenu-btn"
              routerLink="cursos"
              routerLinkActive="active">📕 Cursos</button></li>
        </ul>
      </li>
      
      <li>
        <button class="menu-btn" (click)="toggleSubMenu()">Asignar Libro ⮟</button>
        <ul *ngIf="subMenuOpen" class="submenu">
          <li><button class="submenu-btn">📘 Primaria</button></li>
          <li><button class="submenu-btn">📕 Secundaria</button></li>
        </ul>
      </li>
      <li>
        <button class="menu-btn">Ver Historial</button>
      </li>
    </ul>
  </nav>
  