<div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
  <div class="relative aspect-[4/3]">
    <img class="object-cover w-full h-full" src="{{image}}" alt="avatar">
  </div>

  <div class="py-5 text-center">
    <a href="#" 
       class="block text-xl font-bold text-gray-800 dark:text-white" 
       tabindex="0" 
       role="link" 
       (click)="onClick(); $event.preventDefault();">
      {{ displayTitle }}
    </a>
    <span class="text-sm text-gray-700 dark:text-gray-200">{{ teacher }}</span>
    <p class="text-sm text-gray-600 dark:text-gray-300 mt-1">{{ grado ? 'Grado: ' + grado : '' }}</p>
    <p class="text-sm text-gray-600 dark:text-gray-300">{{ 'Seccion: ' + session }}</p>
  </div>
</div>