<!-- component -->
<div class="h-full flex flex-col bg-gray-100 dark:bg-gray-700 shadow-xl overflow-y-scroll">
    <div class="flex justify-center mt-5">
        <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-examenes_114360-2754.jpg?uid=R186083859&semt=ais_hybrid"
            alt="curso" class="w-40 h-40 rounded-lg">
    </div>
    <div
        class="grid rounded-2xl divide-y divide-dashed hover:divide-solid justify-evenly bg-gray-50 dark:bg-gray-300 m-3 mt-5 grid-cols-3">
        
        <!-- Sesión 01 -->
        <div class="col-span-1 p-3">
            <div class="flex flex-col items-center">
                <a href="#">
                    <button class="tr-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4 6h16M4 10h16M4 14h16M4 18h16" />
                        </svg>

                        <span class="text-lg font-medium">Detalle</span>
                    </button>
                </a>
            </div>
        </div>

        <!-- Curso -->
        <div class="col-span-1 p-3">
            <div class="flex flex-col items-center">
                <a href="#">
                    <button class="tr-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 19.5A2.5 2.5 0 016.5 17H20M4 4.5A2.5 2.5 0 016.5 2H20v16H6.5A2.5 2.5 0 014 19.5V4.5z" />
                        </svg>                        
                        <span class="text-lg font-medium">Curso</span>
                    </button>
                </a>
            </div>
        </div>

        <!-- Material de Apoyo -->
        <div class="col-span-1 p-3">
            <div class="flex flex-col items-center">
                <a href="#">
                    <button class="tr-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 19.5A2.5 2.5 0 006.5 22h11a2.5 2.5 0 002.5-2.5v-13A2.5 2.5 0 0017.5 4H6.5A2.5 2.5 0 004 6.5v13z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 4v16m4-16v16m4-16v16" />
                        </svg>
                        
                        
                        <span class="text-lg font-medium">Material</span>
                    </button>
                </a>
            </div>
        </div>

        <!-- Facturación -->
        <div class="col-span-1 p-3">
            <div class="flex flex-col items-center">
                <a href="#">
                    <button class="tr-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16 21v-2a4 4 0 00-8 0v2m4-10a4 4 0 100-8 4 4 0 000 8z" />
                        </svg>                                                                     
                        <span class="text-lg font-medium">Asistencia</span>
                    </button>
                </a>
            </div>
        </div>

        <!-- Soporte -->
        <div class="col-span-1 p-3">
            <div class="flex flex-col items-center">
                <a href="#">
                    <button class="tr-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 18v-6a9 9 0 0118 0v6m-6 3h3a3 3 0 003-3v-1M3 18v1a3 3 0 003 3h3m0-3h6" />
                        </svg>
                        
                        <span class="text-lg font-medium">Soporte</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
