/* Overlay de Carga General */
.general-loading-overlay {
  position: fixed; /* Cubre toda la pantalla- */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente para difuminar */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de todo */
  flex-direction: column; /* Para apilar icono y texto */
  color: var(--primary-dark); /* Color del spinner y texto, usando tu variable */
}

/* Contenedor para el spinner y el texto, centrado */
.general-loading-content {
  text-align: center; /* Centra el texto horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el spinner y el texto verticalmente dentro de este contenedor */
}

/* Estilo para el spinner personalizado */
.general-custom-spinner {
  border: 4px solid rgba(0, 123, 255, 0.1); /* Borde exterior semi-transparente */
  border-top: 4px solid var(--primary-dark); /* Borde superior sólido (el que gira) */
  border-radius: 50%; /* Forma redonda */
  width: 40px; /* Tamaño del spinner */
  height: 40px; /* Tamaño del spinner */
  animation: spin 1s linear infinite; /* Animación de giro */
  margin-bottom: 1rem; /* Espacio entre spinner y texto */
}

/* Animación de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.general-loading-content p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
