<nav [class.closed]="menuCerrado" class="h-full w-64 text-white p-4 flex flex-col shadow-lg ce transition-all duration-300">
  <!-- Botón para retraer/expandir -->
  <button class="toggle-menu" (click)="toggleMenu()">☰</button>

  <div *ngIf="!menuCerrado" class="flex flex-col items-center justify-center mb-6">
    <!-- Ícono del usuario y nombre -->
    <div class="w-16 h-16 rounded-full bg-accent flex items-center justify-center">
      <img src="assets/imagenes/usuario.png" alt="Perfil" class="w-16 h-16 rounded-full border-2 border-white">
    </div>
    <p class="text-lg font-bold text-white mt-2">
      {{ nombreUsuario }} {{ apellidoPaterno }} {{ apellidoMaterno }}
    </p>
    <p class="text-sm text-gray-300">{{ nombreRol || 'Sin Rol' }}</p>
    
  </div>

  <!-- Opciones del menú generadas dinámicamente -->
  <ul *ngIf="!menuCerrado" class="space-y-4">
    <li *ngFor="let menu of menus; trackBy: trackById">
      <button class="menu-btn" (click)="navigate(menu)">
        {{ menu.menu_descripcion }}
      </button>
    </li>
    <!-- Botón de Perfil -->
    <li>
      <button class="menu-btn" (click)="irAPerfil()">Perfil</button>
    </li>
    <li>
    <!-- Botón de salida -->
  <button *ngIf="!menuCerrado" class="exit-btn" (click)="logout()">
    Cerrar Sesión
  </button>
</li>
  </ul>

  
</nav>
