<div class="min-h-screen w-full bg-[#4C7B8B] flex flex-col">
  <div class="w-full bg-[#4C7B8B]">
    <app-card-actividades
      [route]="'Sesiones'"
      [introduccion]="'Introducción'"
      [material]="'Material'"
      [actividad]="'Actividad'"
      [actividadSeleccionada]="actividadSeleccionada"
      (seleccionarActividad)="seleccionarActividad($event)"
    ></app-card-actividades>
  </div>
  <div class="bg-gray-900 p-4 mt-4 rounded-md mx-8 min-h-screen">
    <!-- Mostrar el contenido seleccionado -->
    <div *ngIf="contenidoActual">
      <!-- Si es un PDF -->
      <div *ngIf="contenidoActual.tipo === 'pdf'">
        <iframe
          [src]="contenidoActual.url | safeUrl"
          width="100%"
          height="800px"
          style="border: none;"
          (error)="handleFileError()"
        ></iframe>
        <div *ngIf="errorLoadingFile" class="error-message">
          No se pudo obtener una vista previa del archivo.
          <a [href]="contenidoActual.url" download>Descargar</a>
        </div>
      </div>
    
      <!-- Si es un video -->
      <div *ngIf="contenidoActual.tipo === 'video'">
        <video controls width="100%" height="auto" (error)="handleFileError()">
          <source [src]="contenidoActual.url" type="video/mp4">
          Tu navegador no soporta la reproducción de videos.
        </video>
        <div *ngIf="errorLoadingFile" class="error-message">
          No se pudo cargar el video.
          <a [href]="contenidoActual.url" download>Descargar</a>
        </div>
      </div>
    </div>

    <!-- Mensaje si no hay datos -->
    <div *ngIf="!contenidoActual" class="text-white">
      
      <div class="flex flex-wrap items-center justify-center gap-2 bg-gray-900 p-4 mt-4 rounded-md mx-8">
        <!-- Botón de Agregar Introducción -->
        <div *ngIf="actividadSeleccionada === 'introducciones'">
          <button
            (click)="openAddModal('introducciones')"
            class="cursor-pointer bg-gray-800 relative inline-flex items-center justify-center gap-2 text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 text-gray-300 hover:text-cyan-400 h-9 rounded-md px-3 w-full sm:w-auto"
          >
            Agregar Introducción
          </button>
        </div>
      
        <!-- Botón de Agregar Material -->
        <div *ngIf="actividadSeleccionada === 'materiales'">
          <button
            (click)="openAddModal('materiales')"
            class="cursor-pointer bg-gray-800 relative inline-flex items-center justify-center gap-2 text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 text-gray-300 hover:text-blue-400 h-9 rounded-md px-3 w-full sm:w-auto"
          >
            Agregar Material
          </button>
        </div>
      
        <!-- Botón de Agregar Actividad -->
        <div *ngIf="actividadSeleccionada === 'actividades'">
          <button
            (click)="openAddModal('actividades')"
            class="cursor-pointer bg-gray-800 relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 text-gray-300 hover:text-yellow-400 h-9 px-3 w-full sm:w-auto"
          >
          
            Agregar Actividad
          </button>
        </div>
      </div>
      No hay contenido disponible para esta sesión.
    </div>
  </div>
</div>