.noBorder {
  border-color: coral;
  outline: none;
  width: 600px;
}

.content {
  max-height: 400px;
  overflow-y: auto;
}

.row {
  margin-bottom: 1rem;
}

.w-full {
  width: 100%;
}

.readonly-field {
  background-color: #f9fafb;
  color: #1f2937;
  opacity: 1;
  cursor: default;
}

mat-error {
  font-size: 12px;
  color: #dc2626; /* Asegura que los errores sean visibles */
}