<div class="relative inline-block">
  <!-- Contenido del botón o ícono -->
  <ng-content></ng-content>

  <!-- Tooltip -->
  <p
    #tooltip
    [class]="fixedClasses"
    [ngClass]="{
      'opacity-100 visible': isVisible,
      'opacity-0 invisible': !isVisible,
      'bg-white text-gray-600': !isDarkMode,
      'bg-gray-800 text-gray-200': isDarkMode
    }"
    [ngStyle]="tooltipStyle"
  >
    {{ tooltipText }}
    <svg
      class="absolute w-6 h-6 fill-current stroke-current"
      [ngClass]="{
        'text-white': !isDarkMode,
        'text-gray-800': isDarkMode
      }"
      [ngStyle]="arrowStyle"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M0 0 L24 12 L0 24 Z"></path>
    </svg>
  </p>
</div>
