<div *ngIf="sesiones.length === 0" class="text-center text-gray-500">
    No hay sesiones disponibles para este curso.
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 bg-dark">
    <div *ngFor="let sesion of sesiones | paginate: { itemsPerPage: 4, currentPage: page }" class="flex flex-col">
      <app-card-week
        [week]="'Sesiones'"
        [title]="sesion.titulo || 'Nombre de la sesion'"
        [description]="sesion.descripcion || 'Descripción de la clase'"
        [route]="'/actividades'"
        [idSesion]="sesion.idSesion"
      >
      </app-card-week>
    </div>
  </div>
  
  
  
  <pagination-controls 
    class="flex justify-center items-center space-x-2 mt-4"
    (pageChange)="page = $event" 
    previousLabel="«" 
    nextLabel="»"
    pageLinkClass="px-3 py-1 border rounded-lg hover:bg-gray-200 transition"
    currentPageClass="bg-blue-500 text-white font-bold border border-blue-500 px-3 py-1 rounded-lg"
    disabledClass="opacity-50 cursor-not-allowed"
  ></pagination-controls>
