/* Estilo para el campo de archivo */
input[type="file"] {
  display: block;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: white;
  cursor: pointer;

  &:hover {
    border-color: #3f51b5; // Color primario de Angular Material
  }
}

/* Estilo para el fondo semitransparente y el spinner */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 231, 231, 0.8); // Fondo blanco semitransparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Asegura que esté por encima del formulario
}

/* Estilo para el spinner */
mat-progress-spinner {
  width: 50px !important; // Tamaño del spinner
  height: 50px !important;
}