@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --primary-dark: #0D1B2A;
    --secondary-dark: #1B263B;
    --primary-hover: #415A77;
    --border-color: #778DA9;
    --text-color: #E0E1DD;
    --accent-color: #415A77;
    --active-bg-color: #89b0e2; // Nuevo: Color de fondo para el estado activo
  --active-text-color: #ffffff; // Nuevo: Color de texto para el estado activo


    /* Colores específicos para la tabla */
    --table-header-bg: #1B263B; /* Fondo para <thead> */
    --table-header-text: #E0E1DD; /* Color de texto para <th> en el encabezado */
    --table-row-bg: #0D1B2A; /* Fondo para <tr> en <tbody> */
    --table-row-text: #E0E1DD; /* Color de texto para <td> */
    --table-row-hover-bg: #415A77; /* Fondo para <tr> al pasar el ratón */
    --table-action-icon: #778DA9; /* Color predeterminado para íconos de acciones */
    --table-action-edit-hover: #FBBF24; /* Color hover para ícono de editar */
    --table-action-delete-hover: #EF4444; /* Color hover para ícono de eliminar */
    --table-action-print-hover: #10B981; /* Color hover para ícono de imprimir */
  }

.mdc-notched-outline__notch{
    border-right: none;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

