@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark: #0D1B2A;
    --secondary-dark: #1B263B;
    --primary-hover: #415A77;
    --border-color: #778DA9;
    --text-color: #E0E1DD;
    --accent-color: #415A77;
  }

.mdc-notched-outline__notch{
    border-right: none;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

