.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 10px;
  width: 100%;
}

.card {
  width: 90%;
  height: 200px;
  border-radius: 8px;
  background-color: var(--secondary-dark);
  margin: 20px auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight: bold;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: var(--primary-dark);
}

.card .front,
.card .back {
  width: 100%;
  text-align: center;
}

.card .back {
  display: none;
}

.card:hover .front {
  display: none;
}

.card:hover .back {
  display: block;
}

.button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: var(--boton);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-dark);
}


@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
