<app-general-loading-spinner [visible]="cargando" [message]="loadingMessage"></app-general-loading-spinner>

<ng-container *ngIf="!cargando">
  <ng-container *ngFor="let nivel of niveles">
    <div *ngIf="nivel.nombre.toLowerCase() === selectedNivel">
      <div class="card-container">
        <div class="card" *ngFor="let grado of nivel.grados">
          <div class="front">
            <h3>
              <fa-icon [icon]="faGraduationCap"></fa-icon>
              {{ grado }}°
            </h3>
          </div>
          <div class="back">
            <p>
              Vacantes disponibles:
              <fa-icon [icon]="faChair"></fa-icon>
            </p>
            <div *ngFor="let seccion of getSecciones(nivel.vacantes[grado])">
              <p>
                Sección {{ seccion }}: {{ nivel.vacantes[grado][seccion] }}
                <fa-icon [icon]="faSortNumericDown"></fa-icon>
              </p>
            </div>
            <button
              *ngIf="hayVacantes(nivel.vacantes[grado])"
              class="button"
              (click)="matricular(nivel.nombre, grado); $event.stopPropagation()"
            >
              Matricular
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-notification></app-notification>
  </ng-container>
</ng-container>
