<div *ngIf="cargando" class="loading-container">
  <div class="spinner"></div>
  <p>Cargando vacantes...</p>
</div>

<div *ngIf="!cargando">
  <div *ngFor="let nivel of niveles">
    <h2>{{ nivel.nombre }}</h2>
    <div class="card-container">
      <div
        class="card"
        *ngFor="let grado of nivel.grados"
        (click)="matricular(nivel.nombre, grado)"
      >
        <div class="front">
          <h3>🎓 Grado {{ grado }}</h3>
        </div>
        <div class="back">
          <p>Vacantes disponibles: <span>💺</span></p>
          <div *ngFor="let seccion of getSecciones(nivel.vacantes[grado])">
            <p>
              Sección {{ seccion }}: {{ nivel.vacantes[grado][seccion] }}
              <span>🔢</span>
            </p>
          </div>
          <button
            *ngIf="hayVacantes(nivel.vacantes[grado])"
            class="button"
            (click)="matricular(nivel.nombre, grado); $event.stopPropagation()"
          >
            Matricular <span>✅</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
