<div *ngIf="sesiones.length === 0" class="text-center text-gray-500">
  No hay sesiones disponibles para este curso.
</div>

<!-- Botón Agregar (visible solo para Profesor) -->
<div class="flex justify-end p-4" *ngIf="rolUsuario === 'Profesor'">
  <div class="bg-white border divide-x rounded-lg overflow-hidden dark:bg-gray-900 dark:border-gray-700 dark:divide-gray-700">
    <button
      (click)="openAddModal()"
      class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 transition-colors duration-200 sm:text-base sm:px-6 dark:hover:bg-gray-800 dark:text-gray-300 gap-x-3 hover:bg-gray-100 w-auto"
    >
      <fa-icon [icon]="['fas', 'plus']" class="w-5 h-5 sm:w-6 sm:h-6"></fa-icon>
      <span>Agregar</span>
    </button>
  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 bg-dark">
  <div *ngFor="let sesion of sesiones | paginate: { itemsPerPage: 4, currentPage: page }; let i = index" class="flex flex-col bg-white dark:bg-gray-900 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
    <!-- Tarjeta de sesión -->
    <app-card-week
      [week]="'Sesión ' + ((page - 1) * 4 + (i + 1))"
      [title]="sesion.titulo || 'Nombre de la sesión'"
      [description]="sesion.descripcion || 'Descripción de la clase'"
      [route]="'/card-actividades'"
      [idSesion]="sesion.idSesion"
    >
    </app-card-week>

    <!-- Botones Editar y Eliminar (visibles solo para Profesor) -->
    <div class="flex border-t divide-x dark:border-gray-700 dark:divide-gray-700" *ngIf="rolUsuario === 'Profesor'">
      <button
        (click)="openEditModal(sesion)"
        class="flex-1 flex items-center justify-center px-2 py-2 xl:px-4 xl:py-2 text-sm font-medium text-gray-600 transition-colors duration-200 xl:text-base dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100 gap-x-2"
      >
        <fa-icon [icon]="['fas', 'pencil']" class="w-5 h-5 xl:w-6 xl:h-6"></fa-icon>
        <span class="hidden xl:inline">Editar</span>
      </button>

      <button
        (click)="eliminarSesion(sesion.idSesion!)"
        class="flex-1 flex items-center justify-center px-2 py-2 xl:px-4 xl:py-2 text-sm font-medium text-gray-600 transition-colors duration-200 xl:text-base dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100 gap-x-2"
      >
        <fa-icon [icon]="['fas', 'trash']" class="w-5 h-5 xl:w-6 xl:h-6"></fa-icon>
        <span class="hidden xl:inline">Eliminar</span>
      </button>
    </div>
  </div>
</div>

<pagination-controls
  class="flex justify-center items-center space-x-2 mt-4"
  (pageChange)="page = $event"
  previousLabel="«"
  nextLabel="»"
  pageLinkClass="px-3 py-1 border rounded-lg hover:bg-gray-200 transition"
  currentPageClass="bg-blue-500 text-white font-bold border border-blue-500 px-3 py-1 rounded-lg"
  disabledClass="opacity-50 cursor-not-allowed"
></pagination-controls>

<app-notification></app-notification>