<app-general-loading-spinner [visible]="loading" [message]="spinnerMessage"></app-general-loading-spinner>
<div class="main-container">
  <!-- Encabezado con logo y nombre del colegio, cargados dinámicamente -->
  <div class="header">
    <h2>{{ (entidad$ | async)?.nombreColegio }}</h2>
    <div class="form-group logo-container">
      <img [src]="(entidad$ | async)?.logoColegio" alt="Logo del Colegio">
    </div>
  </div>

  <form id="editForm">
    <div class="form-columns">
      <!-- Columna 1: Datos de contacto y documentos -->
      <div class="column">
        <!-- Campo: RUC del Colegio -->
        <div class="form-group">
          <label for="ruc">RUC del Colegio</label>
          <div class="input-with-icon">
            <i class="fas fa-id-card input-icon"></i>
            <input type="text" id="ruc" name="ruc" [value]="(entidad$ | async)?.rucColegio" required>
          </div>
        </div>

        <!-- Campo: Razón Social -->
        <div class="form-group">
          <label for="razon-social">Razón Social</label>
          <div class="input-with-icon">
            <i class="fas fa-signature input-icon"></i>
            <input type="text" id="razon-social" name="razon-social" [value]="(entidad$ | async)?.razonSocial" required>
          </div>
        </div>

        <!-- Sección de Documentos -->
        <div class="info-section">
          <h3><i class="fas fa-file-alt"></i> Documentos</h3>
          <!-- Documentos Necesarios -->
          <div class="info-group" *ngIf="(entidad$ | async)?.documentos?.necesarios">
            <h4>Necesarios</h4>
            <ul class="info-list">
              <li *ngIf="(entidad$ | async)?.documentos?.necesarios?.documento1">
                <span>{{ (entidad$ | async)?.documentos?.necesarios?.documento1 }}</span>
              </li>
              <li *ngIf="(entidad$ | async)?.documentos?.necesarios?.documento2">
                <span>{{ (entidad$ | async)?.documentos?.necesarios?.documento2 }}</span>
              </li>
            </ul>
          </div>
          <!-- Documentos Adicionales -->
          <div class="info-group" *ngIf="(entidad$ | async)?.documentos?.adicionales">
            <h4>Adicionales</h4>
            <ul class="info-list">
              <li *ngIf="(entidad$ | async)?.documentos?.adicionales?.intercambio">
                <h5>Intercambio</h5>
                <ul>
                  <li *ngIf="(entidad$ | async)?.documentos?.adicionales?.intercambio?.documento1">
                    <span>{{ (entidad$ | async)?.documentos?.adicionales?.intercambio?.documento1 }}</span>
                  </li>
                  <li *ngIf="(entidad$ | async)?.documentos?.adicionales?.intercambio?.documento2">
                    <span>{{ (entidad$ | async)?.documentos?.adicionales?.intercambio?.documento2 }}</span>
                  </li>
                </ul>
              </li>
              <li *ngIf="(entidad$ | async)?.documentos?.adicionales?.discapacidad">
                <h5>Discapacidad</h5>
                <ul>
                  <li *ngIf="(entidad$ | async)?.documentos?.adicionales?.discapacidad?.documento1">
                    <span>{{ (entidad$ | async)?.documentos?.adicionales?.discapacidad?.documento1 }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Columna 2: Dirección, Teléfono, Correo y Niveles -->
      <div class="column">
        <!-- Campo: Dirección -->
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <div class="input-with-icon">
            <i class="fas fa-map-marker-alt input-icon"></i>
            <input type="text" id="direccion" name="direccion" [value]="(entidad$ | async)?.direccionColegio" required>
          </div>
        </div>

        <!-- Campo: Teléfono -->
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <div class="input-with-icon">
            <i class="fas fa-phone input-icon"></i>
            <input type="tel" id="telefono" name="telefono" [value]="(entidad$ | async)?.telefonoColegio" required>
          </div>
        </div>

        <!-- Campo: Correo Electrónico -->
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <div class="input-with-icon">
            <i class="fas fa-envelope input-icon"></i>
            <input type="email" id="email" name="email" [value]="(entidad$ | async)?.correoColegio" required>
          </div>
        </div>

        <!-- Sección de Datos de Niveles -->
        <div class="info-section">
          <h3><i class="fas fa-clipboard-list"></i> Datos Niveles</h3>
          <div class="grade-grid-wrapper">
            <ng-container *ngFor="let nivel of (entidad$ | async)?.datosngs?.niveles">
              <h4 class="level-name"><b>{{ nivel.nombre }}</b></h4>
              <div class="grade-grid">
                <div class="grade-card" *ngFor="let grado of nivel.grados">
                  <h5>{{ grado.nombre }}</h5>
                  <span>Secciones:
                    <ng-container *ngFor="let seccion of grado.secciones; last as isLast">
                      {{ seccion.nombre }} ({{ seccion.vacantes }})<span *ngIf="!isLast">, </span>
                    </ng-container>
                  </span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Contenedor de botones -->
  <div class="button-container">
    <button type="submit" class="btn btn-primary" id="editButton">EDITAR</button>
  </div>
</div>
